---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
<style>{% include "css/message-box.css" %}</style>
<div class="message-box">
	Welcome! This blog will document my thoughts on dance, life, and anything else that piques my curiosity. Join me as I explore my current fascination of house dance. Thank you for stopping by (~˘▾˘)~
</div>
<!-- Stop deleting -->

{{ content | safe }}
